.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
  padding: 16px;
}

.course-card {
  background: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 0.75rem;
  background: #FFF;
  box-shadow: 0 3px 8.8px 2px rgba(0, 0, 0, 0.20);

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .card-main-content {
    flex-grow: 1;
  }

  .card-header {
    padding: 16px;

    .card-title {
      color: #3B3059;
      font-family: Inter;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.688rem;
      margin-bottom: 1.06rem;
      /* Line Clamp Logic: Limit to exactly 2 lines */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      line-height: 1.4em;
    }
  }

  .card-image {
    width: 100%;
    height: 14rem;
    background: #f8f9fa;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    color: #626069;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 1.25rem 2.44rem;
  }

  .course-actions {
    padding: 16px;
    margin-inline: 1.25rem;
    border-top: 1px solid #f3f4f6;
    display: flex;
    gap: 1.94rem;
    justify-content: flex-end;

    .btn {
      background-color: transparent;
      color: #626069;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.188rem;
      cursor: pointer;
      border: none;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.2s;
      display: inline-flex;
      align-items: center;
      gap: 0.625rem;

    }
  }
}