.about-container {
    padding: 2.38rem 0.62rem;
    margin: 0 auto;

    .about-us-header {
        color: #3B3059;
        font-family: Inter;
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.1938rem;
        margin-bottom: 1.12rem;
        text-align: center;
    }

    .about-us-sub-header {
        color: #626069;
        font-family: Inter;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.688rem;
        margin-bottom: 1.56rem;
        text-align: center;
    }

    .hero-image-wrapper {
        margin-inline: auto;
        width: 25rem;
        height: 13.125rem;
        margin-bottom: 1.56rem;

        img {
            max-inline-size: 100%;
            block-size: auto;
            width: 100%;
            height: auto;
            border-radius: 0.75rem;

        }
    }

    .description {
        color: #626069;
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem;
        width: 25rem;
        margin-inline: auto;
        @media (min-width: 768px) {
        font-size: 1rem;
        line-height: 1.875rem;
    }
    }
}