<div class="container">
  <nav class="tab-nav">
    <button 
      class="tab-link" 
      [class.active]="activeTab() === 'beginner'"
      (click)="activeTab.set('beginner')">
      Beginner
    </button>
    <button 
      class="tab-link" 
      [class.active]="activeTab() === 'advanced'"
      (click)="activeTab.set('advanced')">
      Advanced
    </button>
  </nav>

  <main class="tab-content">
    @if (activeTab() === 'beginner') {
      @if (beginnerCourses().length > 0) {
        <app-courses-card-list 
          (courseEdited)="reloadCourses()"
          [courses]="beginnerCourses()"/>
      } @else {
        <p class="empty-msg">No beginner courses available.</p>
      }
    }

    @if (activeTab() === 'advanced') {
      @if (advancedCourses().length > 0) {
        <app-courses-card-list
          (courseEdited)="reloadCourses()"
          [courses]="advancedCourses()"/>
      } @else {
        <p class="empty-msg">No advanced courses available.</p>
      }
    }
  </main>
</div>