.course-detail {
  padding: 0.94rem 0.81rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.navigation-header {
  margin-bottom: .88rem;
}

.back-button {
  display: inline-flex;
  align-items: center;
  gap: 0.53rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  color: #476CFF;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.188rem;

  &:hover {
    transform: translateX(-4px);
    color: #3355cc;
  }

  svg {
    display: block;
  }
}

.course-title {
  color: #3B3059;
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.688rem;
  margin-bottom: 0.87rem;
  text-align: center;
}

.course-thumbnail {
  margin-inline: auto;
  width: 25rem;
  height: 13.125rem;
  margin-bottom: 1.875rem;

  img {
    max-inline-size: 100%;
    block-size: auto;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;

  }
}

.table-container {
  overflow-x: auto;
  width: 25rem;
  margin-inline: auto;
  height: 50%;

  .search-bar {
    width: 100%;
    margin-inline: auto;
    height: 2.5rem;
  }

  .search-bar input {
    border-radius: 0.5rem;
    border: 1px solid #D5D5D5;
    padding: 0 1rem;
    margin-bottom: 1.69rem;
    height: 100%;
    width: 100%;
  }

  .lessons-table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: 12px 24px;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    th {
      color: #626069;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.063rem;

      &.sortable {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
        user-select: none;

        .sort-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 0.12rem;
          width: 1.5rem;
          height: 1.75rem;
          font-size: 0.975rem;
          font-weight: bolder;
          border-radius: 0.45rem;
          aspect-ratio: 1/1;
          background-color: #E8E8E8;

        }
      }
    }

    tr td {
      color: #626069;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.063rem;
    }
  }

  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 48, 89, 0.42);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  color: #626069;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.063rem;

  .items-label {
    display: flex;
    align-items: center;
    gap: 0.88rem;

    select {
      padding: 0.25rem 0.875rem;
      border: 1px solid #D5D5D5;
      cursor: pointer;
      width: 5.6875rem;
      height: 2.375rem;
      border-radius: 0.5rem;
      background: #F9F9FB;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_1_262)%22%3E%3Cpath%20d%3D%22M5%2011L8%2014L11%2011%22%20stroke%3D%22%23626069%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5%205L8%202L11%205%22%20stroke%3D%22%23626069%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_1_262%22%3E%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;

      background-position: right 0.25rem center;
      background-size: 1.25rem;
      cursor: pointer;
    }
  }

  .page-controls {
    gap: 1.17rem;
    display: flex;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 2.375rem;
      height: 2.375rem;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .action-divider {
      display: inline-block;
      width: 0.0625rem;
      height: 2.3125rem;
      background-color: #E9E7EF;

    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}