.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 48, 89, 0.42);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    padding: 1.88rem 0.94em 0.94em 0.94em;
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.75rem;
    background: #F3F3F3;
    box-shadow: 0 1px 25px 14px rgba(0, 0, 0, 0.25);

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    header .modal-title {
        color: #3B3059;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.375rem;
    }

    header button.close-button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    }
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: .56rem;

    .form-field {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        input,
        select,
        textarea {
            padding: 1.12rem;
            border-radius: 0.5rem;
            background-color: #FFF;
            height: 3.375rem;
            border: none;

            color: #626069;
            font-family: Inter;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.375rem;

            &::placeholder {
                color: #C4C4C4;
            }
        }

        textarea {
            height: 13.4375rem;
            resize: vertical;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M16.25 7.5L10 13.75L3.75 7.5' stroke='%23626069' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
            background-repeat: no-repeat;

            background-position: right 1.19rem center;
            background-size: 1.25rem;
            cursor: pointer;
        }

        select::-ms-expand {
            display: none;
        }

        ::ng-deep input[type="date"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }
    }
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.875rem;

    button {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 3.375rem;
        border-radius: 0.5rem;
        border: 1px solid #D8D8D8;
        background: #FFF;

        color: #626069;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.188rem;
        gap: 0.25rem;
    }
}